</div>

<footer id="footer">
    <div>
        <p>Copyright &copy; Félix Bertoni (2020)</p>
        <p>
            This website is open source, you can see more at
            <a style="color: var(--secondary-color)" href="https://gitlab.com/feloxyde/courses">GitLab</a>.
        </p>
    </div>
</footer>
<div id="footer-placeholder"></div>
</body>

</html>

<script src="js/menu_actions.js"></script>
<script>
    enable_menu_actions();
</script>