:root {
  /* --main-color: #d658c1; */
  /* --main-color: #b6389b; */
  /* --main-color: #0072a7; */
  /*--secondary-color: #00a761;*/

  /*--main-color: rgb(68, 167, 68);
  --secondary-color: rgb(28, 54, 71);*/

  --main-color: #BA4176;
  --secondary-color: #214F7F;
  --main-color: #214F7F;
  --secondary-color: #BA4176;
  /* --main-color: #0072a7;
  --secondary-color: #a70091;
  /*
  --main-color: #0072a7;
  --secondary-color: #3dc000;
*/
  /* style 1 */
  --course-bg-color: #ffffff;
  --body-bg-color: #eeeeee;
  /* style 2 
  --course-bg-color: #eeeeee;
  --body-bg-color: #ffffff;
  */

  --nav-height: 50px;
  --nav-border-thickness: 10px;
}

html {
  position: relative;
  min-height: 100vh;
}

body {
  /* font-family: "Courier New", Courier, monospace; */
  font-family: monospace;
  margin-top: 0px;
  padding-top: 0px;
  max-width: 1080px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--body-bg-color);
}

#courses {
  margin: 10px;
}



/* menu */

#menu {
  z-index: 9998;
  width: 100vw;
  height: var(--nav-height);
  background-color: white;
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  display: flex;
  border-bottom: var(--nav-border-thickness) solid var(--main-color);
}

#menu-ph {
  width: 100%;
  height: calc(var(--nav-height) + var(--nav-border-thickness));
}

.menu-spacer {
  flex: 1;
}

.menu-item a {
  display: block;
  height: 100%;
  line-height: calc(var(--nav-height));
  padding: 0px calc(var(--nav-height) / 2);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.3em;
  text-decoration: none;
  color: black;
}

.menu-item a:hover {
  background-color: var(--main-color);
  color: white;
}

.menu-item.selected a {
  background-color: var(--main-color);
  color: white;
}

#main-nav-toggle {
  display: none;
}

/* collapse menu */


@media screen and (max-width: 1000px) {
  #menu {
    height: unset;
  }

  #main-nav-toggle {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    height: var(--nav-height);
    width: calc(var(--nav-height));
    text-align: center;
    line-height: calc(var(--nav-height)*1.1);
    font-size: var(--nav-height);
    font-weight: bolder;
    color: white;
    background-color: var(--main-color);
  }

  #menu {
    flex-direction: column;
    z-index: 9998;
  }


  .menu-spacer {
    display: none;
  }

  div#overlay-body {
    margin-top: 0px;
  }

  /*
  #main-nav {

  }*/

  .menu-item {
    text-align: center;
    display: none;
  }

  #menu.show .menu-item {
    display: block;
  }


  .menu-item.selected {
    display: block;
    order: -1;

  }

  .menu-item.selected a {
    color: black;
    background-color: white;

  }

}


/* Course summary */
#courses>h1 {
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: var(--main-color);
  font-size: 15px;
}

.course {
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: var(--course-bg-color);
}

#work-in-progress .course {

  border-color: var(--secondary-color);
}


#courses a {
  color: var(--secondary-color);
}

.summary>* {
  padding: 10px 0px;
  margin: 0px;
}

.summary h1 {
  font-weight: bolder;
  font-size: 20px;
}

.summary .informations {
  display: flex;
  text-transform: lowercase;
  font-style: italic;
  font-size: 0.8em;
}

.summary .informations div.code {
  padding-left: 0px;
  border-left: none;
}

.summary .informations div.formats {
  padding-right: 0px;
  border-right: none;
}

.summary .informations div {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.summary .informations div:first-child span:first-child {
  padding-left: 0px;
}

.summary .informations div:last-child span:last-child {
  padding-right: 0px;
}

.summary .informations div span {
  padding: 0px 8px;
  padding-top: 1px;
  text-align: center;
}

.summary .showmore {
  color: var(--secondary-color);
  font-weight: bolder;
}

/* Course details overlay */
#overlay-body {
  background-color: #ffffff;
  position: relative;
  max-width: 1080px;
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  flex: 1;
  flex-grow: 1;
  padding-top: 0px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 50px;
}

#overlay-body .details>h1 {
  margin: 0px;
  padding: 25px 0px;
}

#overlay-body .details>div {
  border-top: 4px solid var(--main-color);
  padding: 17px 2px;
}

#overlay-content {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  background-color: #ffffff;
}

.course .details {
  display: none;
}

#overlay-body .details {
  display: block;
}

#overlay-body a {
  color: var(--secondary-color);
  font-weight: bolder;
}


/* details informations */

#overlay-body .informations>div {
  padding: 3px 0px;
}

#overlay-body .informations>div:first-child {
  padding-top: 0px;
}

#overlay-body .informations>div:last-child {
  padding-bottom: 0px;
}

#overlay-body .informations .code::before {
  content: "Code : ";
}

#overlay-body .informations .tags::before {
  content: "Tags : ";
}

#overlay-body .informations .formats::before {
  content: "Formats : ";
}

#overlay-body .informations div span {
  padding: 0px 8px;
}


.informations div span::after {
  content: ",";
}

#overlay-body .informations div span:first-child {
  padding: 0px 0px;
}

.informations div span:last-child::after {
  content: "";
}


/* details controls */

#overlay-body .details .controls a {
  padding: 0px 10px;
}

/* Course files explorer */
.tree {
  width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.tree a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100%;
}


.tree * {
  margin: 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100%;
}

.tree .dir h3 {
  font-weight: normal;
  font-size: 1em;
}

.tree .dir h3 .fa-folder-o,
.tree .dir h3 .fa-folder,
.tree .dir h3 .fa-folder-open-o,
.tree .dir h3 .fa-folder-open {
  margin-right: 5px;
  display: inline-block;
  width: 1em;
}


.file .fa-file-o {
  margin-right: 5px;
  display: inline-block;
  width: 1em;
}

#overlay-body .file a {
  font-weight: normal;
}


.tree .dir-root>h3 {
  padding-bottom: 10px;
}


.tree .dir.collapse>h3>.fa-folder-open-o,
.tree .dir.collapse>h3>.fa-folder-open {
  display: none;
}

.tree .dir.collapse>h3>.fa-folder-o,
.tree .dir.collapse>h3>.fa-folder {
  display: inline-block;
}

.tree .dir>h3>.fa-folder-o,
.tree .dir>h3>.fa-folder {
  display: none;
}

.tree .dir .content {
  margin-top: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 11px;
  margin-left: 11px;
  padding-right: 5px;
  border-left: 2px solid black;
}

.tree .dir .content>div:first-child {
  padding-top: 0px;
}

.tree .dir .content>div:last-child {
  padding-bottom: 0px;
}

.tree .dir.collapse>.content {
  display: none;
}

.tree .dir .content>div,
.dir-root div {
  padding: 6px 0px;
}

.tree .dir>h3 {
  font-weight: bolder;
  cursor: pointer;
  margin-right: auto;
  width: fit-content;
  padding-right: 5px;
}


/* footer */

footer {
  width: 100vw;
  height: 50px;
  margin-top: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
}

#footer-placeholder {
  width: 100%;
  height: 50px;
  margin-top: 20px;
}

footer div {
  border-top: 1px solid var(--main-color);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer div p {
  margin: 0px;
  text-align: center;
}

.footer-hide {
  display: none;
}